.card-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 55%;
  box-shadow: 0 0 5px 2px #da1412;
  margin: auto;
  margin-top: 50px;
}

.banner {
  margin-top: -150px;
  margin-bottom: -230px;
}

.pokemon-image {
  display: block;
  width: 10%;
  position: relative;
  left: -135px;
  bottom: 290px;
  margin: auto;
}

.Back {
  width: 703px;
  height: 396px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  box-shadow: 0 0 5px 2px #da1412;
  margin: auto;
  margin-top: 50px;
  background-color: #da1412;
}